In [ ]:
5 > 6

In [ ]:
"Iron Man" == "Iron Man"

In [ ]:
value = "Thanos"

if value == "Thanos":
    print("I am inevitable!")
else value == "Iron Man":
    print("I am Iron Man!")

In [ ]:
value = "Thanos"

if value == "Thanos":
    print("I am inevitable!")
elif value == "Iron Man":
    print("I am Iron Man!")
else:
    print("I AM GROOT!")

In [ ]:
a = 60
if a > 50:
    print("FIRST")
if a > 40:
    print("SECOND")

In [ ]:
def sum(a,b):
    return a + b

In [ ]:
sum(5,6)

In [ ]:
a = "python"

In [ ]:
for x in a:
    print(x)

In [ ]:
a = 10

while a > 0:
    print(a)
    a = a - 1

In [ ]:
_

In [ ]:
for x in a:
    print(x)

In [ ]:
a = "python"

In [ ]:
for x in a:
    print(x)

In [ ]:
a

In [ ]:
it = iter(a)

In [ ]:
it

In [ ]:
# it2 = iter(56)

In [ ]:
next(it)

In [ ]:
next

In [ ]:
next(it)

In [ ]:
a = "marvel"

In [ ]:
marvel_iterator = iter(a)

In [ ]:
next(marvel_iterator)

In [ ]:
for x in range(10):
    print(x)

In [ ]:
random = range(10)

In [ ]:
random

In [ ]:
type(random)

In [ ]:
it = iter(random)

In [ ]:
it

In [ ]:
next(it)

In [ ]:
next(it)

In [ ]:
for i in range(5,10,2):
    print(i)

In [ ]:
def sheldon_knock(name):
    print("knock knock", name)
    print("knock knock", name)
    print("knock knock", name)

In [ ]:
sheldon_knock("penny")

In [ ]:
sheldon_knock("leonard")

In [ ]:
def sum(a,b):
    print("a = ", a)
    print("b = ", b)
    return a + b

In [ ]:
sum(b = 10, a = 5)

In [ ]:
sum(7)

In [ ]:
abc = sum(80,60)

In [ ]:
type(abc)

In [ ]:
print(abc)

In [ ]:
sum(5,6)

In [ ]:
sum(10,90)

In [ ]:
def whatsMyName(name):
    return name

In [ ]:
myName = whatsMyName("bipin")

In [ ]:
myName

In [ ]:
def sum(a,b,c=10):
    return a+b+c

In [ ]:
sum(60,70,100)

In [ ]:
def xyz(a = 4, b = 10):
    print(a,b)

In [ ]:
xyz(10)

In [1]:
5+6

11

In [2]:
_

11

In [3]:
for i in range(_):
    print(i)

0
1
2
3
4
5
6
7
8
9
10