In [6]:
_

5

In [7]:
tup1 = (1,2)
tup2 = (1,2)

print(id(tup1) == id(tup2))

False

In [8]:
def computations(a,b):
    return a+b, a-b, a*b, a//b

In [15]:
x, y, _, _ = computations(10,2)
# _ is also known as a throwaway variable

In [16]:
_

5

In [17]:
x

12

In [18]:
y

8

In [19]:
c

NameError: name 'c' is not defined

In [20]:
for _ in range(5):
    print("Hello!")

Hello!
Hello!
Hello!
Hello!
Hello!

In [23]:
a = (1,2,3,'5')
b = (1,2,3,4)

print(a > b)

TypeError: '>' not supported between instances of 'str' and 'int'

# Comprehension!

In [24]:
l1 = [1,2,3,4,5]

# Create a list which has the squares of all the numbers in l1

In [31]:
def sq_list(l):
    result = []
    
    for i in l:
        result.append(i**2)
    
    return result

In [32]:
sq_list(l1)

[1, 4, 9, 16, 25]

In [33]:
result1 = [i**2 for i in l1]
# Easier to read and shorter to write

In [34]:
result1

[1, 4, 9, 16, 25]

In [36]:
# i -> 
# if i**3 is even -> i**3 + 1
# else if i**3 is odd -> i**3 - 1

In [37]:
random = ["what?" for i in range(5)]

In [38]:
random

['what?', 'what?', 'what?', 'what?', 'what?']

In [39]:
def value_generator(i):
    return i**2

In [40]:
random = [value_generator(i) for i in range(5)]

In [41]:
random

[0, 1, 4, 9, 16]

In [42]:
def value_generator(i):
    check = i**3
    
    if check % 2 == 0:
        return check + 1
    else:
        return check - 1

In [43]:
hey = [value_generator(i) for i in l1]

In [44]:
hey

[0, 9, 26, 65, 124]

In [45]:
# Set Comprehension

In [46]:
s = { i**2 for i in range(1,10) }

In [47]:
s

{1, 4, 9, 16, 25, 36, 49, 64, 81}

In [54]:
t = ( i**2 for i in range(1,10) )
# usually we dont use comprehension with tuples

In [55]:
t

In [56]:
tuple(t)

(1, 4, 9, 16, 25, 36, 49, 64, 81)

In [61]:
s1 = "x**2 for x in range(1,5)"
s = "4+5"

In [62]:
s1

'x**2 for x in range(1,5)'

In [63]:
# Dictionary Comprehension

In [64]:
dict1 = { i:i**2 for i in range(5) }

In [65]:
dict1

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [185]:
keys = ["a", "b", "c"]
values = [1,2,3]
# random = ["x", "y", "z"]

d1 = { key:value for key,value in zip(keys,values) }
# [("a",1),("b",2),("c",3)]

In [82]:
d1

{'a': 1, 'b': 2, 'c': 3}

In [73]:
temp = zip(keys, values, random)

In [74]:
temp

In [75]:
temp2 = list(temp)

In [76]:
temp2

[('a', 1, 'x'), ('b', 2, 'y'), ('c', 3, 'z')]

In [77]:
keys = ["a", "b", "c", "d"]
values = [1,2,3]

temp5 = zip(keys, values)

In [78]:
temp5

In [79]:
list(temp5)

[('a', 1), ('b', 2), ('c', 3)]

In [80]:
zip?

In [84]:
# Homework

In [88]:
# 1 2 3 4 5....10
# 2 4 6 8 .....20

# Print the multiplication table to all numbers till n using only 1 line of code
# n = 5

In [89]:
# Print the following ->
# 55555
# 54445
# 54345
# 54445
# 55555

# Using one line of python

In [90]:
# nested list comprehension

In [93]:
l1 = [["HEY" for j in range(5)] for i in range(5)]

In [94]:
l1

[['HEY', 'HEY', 'HEY', 'HEY', 'HEY'],
 ['HEY', 'HEY', 'HEY', 'HEY', 'HEY'],
 ['HEY', 'HEY', 'HEY', 'HEY', 'HEY'],
 ['HEY', 'HEY', 'HEY', 'HEY', 'HEY'],
 ['HEY', 'HEY', 'HEY', 'HEY', 'HEY']]

# STRINGS

In [95]:
s = "python"
s1 = 'python'

In [98]:
s[3] = "a"
# immutable but indexable

TypeError: 'str' object does not support item assignment

In [99]:
s[-1]
# negative indexing works

'n'

In [101]:
s[::-1]
# slicing works

'nohtyp'

In [103]:
# Get the index of a particular character inside of a string
s.index("z")

ValueError: substring not found

In [104]:
s = "I am falling in love with python!"

In [107]:
s.index("love")
# Case sensitive

16

In [109]:
s.startswith("I")

True

In [110]:
s.upper()

'I AM FALLING IN LOVE WITH PYTHON!'

In [111]:
s.lower()

'i am falling in love with python!'

In [112]:
s.title()

'I Am Falling In Love With Python!'

In [113]:
s

'I am falling in love with python!'

In [117]:
# "https://www.something.something" - valid web address
# Given a string, write a function to check whether it is a valid web address or not
# Function body should only be one line

In [122]:
s = '''
python
    is
       a 
    weird
language.           !
'''

# store the strings with all white spaces - DOC STRINGS

In [121]:
s

'\npython\n    is\n       a \n    weird\nlanguage.           !\n'

In [124]:
'''
this is a multiline comment
'''

'\nthis is a multiline comment\n'

In [131]:
length = 5
breadth = 10
area = len * breadth

In [132]:
length

5

In [133]:
breadth

10

In [134]:
area

50

In [135]:
# Area of the rectangle is 5 * 10 = 50

In [137]:
s1 = "Are of the rectangle is " + str(length) + " * " + str(breadth) + " = " + str(area)

In [139]:
s1

'Are of the rectangle is 5 * 10 = 50'

In [148]:
s2 = "Area of a rectagle is {} * {} = {}".format(length, breadth, area)

In [149]:
s2

'Area of a rectagle is 5 * 10 = 50'

In [164]:
s3 = f"Area of a rectangle is {[x for x in range(5)]} * {breadth} = {area}"
# formattable strings

In [165]:
s3

'Area of a rectangle is [0, 1, 2, 3, 4] * 10 = 50'

In [181]:
str1 = "I am a string which contains various words! Some of those words would have unique characters and some might not!"

In [173]:
s1 = "this is a simple string!"

In [174]:
s1.split()

['this', 'is', 'a', 'simple', 'string!']

In [177]:
s1 = "this-is-a-simple string!"

In [178]:
s1.split("-")

['this', 'is', 'a', 'simple string!']

In [179]:
s1.split("s")

['thi', '-i', '-a-', 'imple ', 'tring!']

In [180]:
s1.split("")

ValueError: empty separator

In [182]:
# Given a string, return the count of all words which only have unique characters. i.e. In that word, no character should occur twice!

In [183]:
"\n"

'\n'

In [184]:
s1

'this-is-a-simple string!'

In [187]:
set1 = {1,2,3,4,5,6}